<nav class="flex justify-around items-center">
    <div class="">
      <h1 class="font-bold uppercase p-4 border border-gray-100">
        <a href="/" class="hover:text-gray-700">Mohamed Ayman</a>
      </h1>
      <div class="px-4 cursor-pointer md:hidden">
        <svg class="w-5" id="burger" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
    </div>
    <ul class="text-sm mt-6 flex" id="menu">
      <li class="text-gray-700 font-bold py-1">
        <a href="#" class="px-4 flex justify-end">
          <span>Home</span>
        </a>
      </li>
      <li class="text-gray-700 font-bold py-1">
        <a href="#" class="px-4 flex justify-end">
          <span>Home</span>
        </a>
      </li>
      <li class="text-gray-700 font-bold py-1">
        <a href="#" class="px-4 flex justify-end">
          <span>Home</span>
        </a>
      </li>
    </ul>
  </nav>