<!-- Header Starts -->
<header class="header" id="navbar-collapse-toggle">
  <!-- Fixed Navigation Starts -->
  <ul class="icon-menu d-none d-lg-block">
      <li class="icon-box" routerLinkActive="active" *ngFor="let item of links">
        <!-- <img src="{{item.icon}}" alt=""> -->
          <i class="{{item.icon}}"></i>
          <a class="linkText" routerLink="{{item.link}}">
              <h2>{{item.linkName}}</h2>
          </a>
      </li>
  </ul>
  <!-- Fixed Navigation Ends -->
  <!-- Mobile Menu Starts -->
  <nav role="navigation" class="navMobile">
      <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul class="list-unstyled" id="menu">
              <li routerLinkActive="active" *ngFor="let item of links">
                <a routerLink="{{item.link}}">
                    <!-- <img src="{{item.icon}}" alt=""> -->
                  <i class="{{item.icon}}"></i>
                  <span>{{item.linkName}}</span>
                </a>
            </li>
          </ul>
      </div>
  </nav>
  <!-- Mobile Menu Ends -->
</header>
<!-- Header Ends -->