<!-- Page Title Starts -->
<section class="title-section">
    <h1>Portfolio</h1>
    <span class="title-bg">Portfolio</span>
</section>

<hr class="separator mb-12 hidden md:block">

<div class="projects">
    <ng-container *ngFor="let type of portfolioParts">
        <div class="projectType" ngClass="{{type.class}}">
            <header class="projectType-header">
                <h2>
                    <span class="projectType-header-title">{{type.name}}</span>
                    <span class="projectType-header-subtitle">{{type.subtitle}}</span>
                </h2>
            </header>
            <div class="projectType-wrapper" ngClass="{{type.class}}">
                <ol class="projectType-body">
                    <ng-container *ngFor="let project of type.areaProjects">
                        <li class="project" [attr.aria-label]="project.projectTime">
                            <div class="project-thumbnail">
                                <img src="{{project.projectImg}}" alt="">
                            </div>
                            <div class="project-content">
                                <h3 class="project-title">
                                    <a href="#">
                                        <span>{{project.projectTitle}}</span>
                                    </a>
                                </h3>
                                <p class="project-skills">{{project.projectSkills}}</p>
                                <p class="project-summary">{{project.projectSummary}}</p>
                                <div class="project-links">
                                    <a href="" target="_blank">
                                        live
                                    </a>
                                    <a href="" target="_blank">
                                        source
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ol>
            </div>
            <footer class="projectType-footer">
                <a href="" target="_blanck">
                    <i class="fa fa-github-alt mr-2"></i>
                    <span>browse all in github</span>
                </a>
            </footer>
        </div>
    </ng-container>
</div>
