<!-- Main Content Starts -->
<section class="container-home p-0">
    <div class="color-block"></div>
    <div class="items-center">
        <div class=" bg"></div>
        <div class="home-details">
            <div>
                <img src="assets/img/3.jpg" class="main-img-mobile" alt="my picture" />
                <h1 class="poppins-font">I'm Mohamed Ayman.<span>Frontend Developer</span></h1>
                <p class="open-sans-font">I'm a Tunisian based web designer & front‑end developer focused on crafting clean & user‑friendly experiences, I am passionate about building excellent software that improves the lives of those around me.</p>
                <a class="button" href="about.html">
                    <span class="button-text">more about me</span>
                    <span class="button-icon fa fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Main Content Ends -->