<!-- Page Title Starts -->
<section class="title-section">
    <h1>ABOUT <span>ME</span></h1>
    <span class="title-bg">Resume</span>
</section>

<hr class="separator mb-12 hidden md:block">
<!-- Page Title Ends --> 

<!-- Main Content Starts -->
<section class="main-content">
    <!-- Personal Info Starts -->
    <div class="personalInfo">
        <h3 class="custom-title">personal infos</h3>
        <div class="sm:hidden block">
            <img src="assets/img/3.jpg" class="about-img-mobile" alt="my picture" />
        </div>
        <div class="personalInfo-lists" >
            <ul class="about-list"  *ngFor="let personal of personalInfo">
                <ng-container *ngIf="personal.type == 'first'">
                    <li class="flex flex-col lg:flex-row lg:justify-start" *ngFor="let item of personal.personalFirstList"> 
                        <span class="title">{{item.title}}</span> 
                        <span class="value">{{item.value}}</span> 
                    </li>
                </ng-container>
                <ng-container *ngIf="personal.type == 'second'">
                    <li class="flex flex-col lg:flex-row lg:justify-start" *ngFor="let item of personal.personalSecondList"> 
                        <span class="title">{{item.title}}</span> 
                        <span class="value">{{item.value}}</span> 
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="mt-5">
            <a class="button" href="https://drive.google.com/file/d/1IfcxjBnurdwXEiBDLnsLMlUIA5EbGz90/view" target="_blank">
                <span class="button-text">Download CV</span>
                <span class="button-icon fa fa-download"></span>
            </a>
        </div>
    </div>
    <hr class="separator mb-12 block md:hidden">
    <!-- Personal Info Ends -->
    <div class="education-box">
        <h3 class="custom-title">education</h3>
        <ul>
            <li *ngFor="let education of educationContent">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <span class="time">{{education.time}}</span>
                <h5 class="">{{education.position}} <span class="place">{{education.company}}</span></h5>
                <p class="">{{education.content}}</p>
            </li>
        </ul>
    </div>
</section>
<!-- Main Content Ends -->