/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Merriweather-Regular";
    src: local("Merriweather-Regular"), url("assets/fonts/Merriweather-Regular.ttf") format("truetype");
}
html {
    /* @apply font-body; */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100%;
}
body {
    @apply bg-bgColor dark:bg-black;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* [ HEADER ] */
/*================================================== */

/*** Desktop Navigation ***/

/*** Navigation ***/

.header {
    @apply fixed right-12 bottom-0 z-3 flex items-center top-28 opacity-100 transition-opacity duration-300;
    height: calc(100vh - 200px);
}

/* .header.hide-header {
  z-index: 0 !important;
  opacity: 0;
} */

.header .icon-menu {
    @apply m-0 p-0 hidden lg:block;
}

.header .icon-menu .icon-box {
    @apply w-12 h-12 list-none relative flex 
    items-center duration-300 rounded-full
    my-5 mx-0 bg-customBg;
}

.header .icon-menu .icon-box i {
    @apply text-iconColor duration-300 text-lg;
}

.header ul.icon-menu li.icon-box.active,
.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box.active i,
.header ul.icon-menu li.icon-box:hover i{
    @apply text-white;
}

.header .icon-box h2 {
    @apply text-base font-medium;
}

.header .icon-box .linkText {
    @apply block p-0 w-12 h-12;
}
.header .icon-box a:hover h2 {
    @apply opacity-100 right-7 m-0 text-center rounded-l-4xl rounded-r-none;
}
.header .icon-box i.fa {
    @apply absolute pointer-events-none leading-4;
}

.header .icon-menu i {
    @apply block text-center text-4xl top-4
    left-0 right-0 mx-auto my-0;
}

.header .icon-box h2 {
    @apply absolute top-0 right-0 opacity-0 text-white
    leading-12 h-12 uppercase rounded-4xl font-medium 
    transition-all duration-300 -z-1
    py-0 pl-7 pr-6;
}



.header .icon-box h2,
.header ul.icon-menu li.icon-box.active,
.header ul.icon-menu li.icon-box:hover
{
   @apply bg-secondery;
}

.navMobile {
    @apply block lg:hidden;
}

#menuToggle {
    @apply border border-solid border-iconColor;
  }

#menuToggle,
#menu {
    @apply bg-menuBg-light;
}

#menuToggle > span,
#menuToggle input:checked ~ span {
    @apply bg-menuTextColor;
}




#menuToggle {
    @apply inline-block fixed 
    top-3 right-8 z-50 select-none
    w-cst h-cst rounded-md bg-menuBg-dark;
    padding: 19px 0 0 16px;
  }

#menuToggle input {
  @apply flex absolute 
  top-0 left-0 z-3
  w-cst h-cst cursor-pointer opacity-0;
}

#menuToggle > span {
  @apply flex w-6 mb-1 relative bg-white rounded;
  height: 2px;
  z-index: 1;
  transform-origin: 5px 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle > span:first-child {
  transform-origin: 0 0;
}

#menuToggle > span:nth-last-child(2) {
  transform-origin: 0 100%;
}
#menuToggle input:checked ~ span {
  @apply opacity-100 bg-white rotate-45 translate-x-1 translate-y-0;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  @apply opacity-0 rotate-0 scale-x-50 scale-y-50;
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(2px, 4px);
}

#menu {
  @apply fixed top-0 left-0 w-full h-full m-0 pt-14
  bg-menuBg-dark ;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menuToggle input:checked ~ ul {
  transform: none;
}
#menu li {
  @apply relative pl-8 after:absolute after:left-7 after:bg-menuBg-300 after:bg-iconColor after:content-[''] after:h-1px last:after:hidden;
}
#menu li a {
  @apply text-white uppercase text-3xl
  block relative py-3 px-0 no-underline;
}
#menu li a span {
  @apply absolute left-12 font-normal;
}
#menu li:after {
  width: calc(100% - 60px);
}

#menu li.active a span {
  @apply font-semibold;
}
#menu li:hover a,
#menu li.active a{
  @apply text-secondery;
}

/* [ End Header Component ] */


/* [ Home Component ] */
/*================================================== */
/*** Homepage ***/

.color-block {
  transform: rotate(-15deg);
  left: -83%;
  @apply bg-secondery fixed w-full h-2full -top-1/2 hidden lg:block;
}

.bg {
  @apply xl:w-600px w-80 bg-cover bg-top bg-no-repeat z-50 left-10 top-10 rounded-4xl
  fixed lg:block hidden;
  background-image: url('assets/img/3.jpg');
  height: calc(100vh - 80px);
  box-shadow: 0 0 7px rgba(0,0,0,.9);
}

.container-home {
  @apply flex items-center min-h-full;
}
.home-details {
  @apply fixed 
  lg:top-32% 
  xl:left-1/2 lg:left-42% 
  sm:left-28 top-15% sm:p-0 px-6;
}
.home-details > div {
  @apply mx-auto my-0 lg:text-left sm:text-center;
  max-width: 550px;
}
.main-img-mobile {
  @apply hidden sm:block lg:hidden border-4 border-solid 
  border-menuBg-dark rounded-50% mx-auto mt-0 mb-6;
  width: 270px;
  height: 270px;
}
.home-details h1 {
  @apply font-bold leading-normal relative text-secondery mx-0 mt-4 mb-2 
  xl:pl-14 lg:pl-0 text-4xl uppercase sm:text-center text-left lg:text-left
  /* Before */
  before:content-['']
  before:absolute before:left-0 before:top-7 before:h-1 
  before:w-10 before:rounded-lg before:bg-secondery 
  before:xl:block before:lg:hidden before:hidden;
}

.home-details h1 span {
  @apply block text-white text-3xl;
}

.home-details h6 {
  @apply font-normal block text-menuBg-light;
  font-size: 22px;
}

.home-details p {
  @apply leading-9 text-xl mx-0 mt-4 mb-7;
}
 
/*** Buttons ***/
.button {
  @apply overflow-hidden inline-block rounded-5xl whitespace-nowrap text-ellipsis 
  text-center cursor-pointer align-middle select-none uppercase
  relative bg-transparent text-white font-semibold outline-none z-1 no-underline duration-300 transition-all ease-in-out
  border-1 border-solid border-secondery
  /* Before */
  before:content-[''] before:-z-1 before:absolute before:inset-0 before:bg-secondery 
  before:duration-300 before:ease-out before:transition-all before:translate-x-full
  /* Hover */
  hover:before:translate-x-0 py-4 pr-18 pl-9;
  /* padding: 16px 70px 16px 35px; */
  font-size: 15px;
}

.button .button-text {
  @apply relative z-3 text-white duration-300 ease-in-out transition-all;
}

.button:hover .button-text {
  @apply text-white;
}
.button-icon {
  @apply absolute -right-0.5 inset-y-0 flex items-center justify-center text-white bg-secondery rounded-50% w-55px h-55px text-lg leading-0;
}
/* [ End Home Component ] */
/*================================================== */

/* Title Section */

.title-section {
  @apply w-full md:relative fixed h-fit
  inset-0 
  md:bg-transparent bg-menuBg-dark
  md:border-0 border-b-1 border-solid border-menuBg-300
  mb-9 z-2
  md:py-20 pt-4 pb-3
  md:px-0 px-6 
  md:my-0 md:mx-auto 
  md:text-center text-left
}
.title-section h1 {
  @apply md:text-5.5xl text-2.5xl font-black text-white uppercase m-0;
}

.title-section h1 span {
  @apply text-secondery;
}
.title-section hr {
  @apply bg-secondery;
}

.title-bg {
  @apply hidden 
  md:block md:text-8.5xl md:absolute md:inset-x-0 md:top-1/2 md:uppercase 
  md:font-extrabold md:-translate-y-1/2 md:leading-3 md:tracking-10px md:text-titleBgRgba;
}

.custom-title {
  @apply text-xl pb-6 font-semibold uppercase
  md:text-2.5xl 
}
.skills-custom-title {
  @apply uppercase font-semibold text-xl md:text-2.5xl 
  sm:text-center text-left sm:py-12 py-16 mb-3 sm:mb-0;
}



@media (max-width: 576px) {
 
  /* .custom-title {
    font-size: 21px;
  } */

  .main-content {
    padding-bottom: 0;
  }

  .resume-box h5 {
    font-size: 17px;
  }

  .box-stats {
    padding: 15px 20px 20px 25px;
  }

  .c100 {
    transform: scale(.8);
  }

  .box-stats.with-margin {
    margin-bottom: 25px;
  }

  .box-stats h3 {
    font-size: 40px;
  }

  .box-stats p {
    padding-left: 0;
  }

  .box-stats p:before {
    display: none;
  }
}



/* [ About Component ] */
/*================================================== */
/*** Aboutpage ***/
.personalInfo {
  width: 40%;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
}
.main-content {
  padding-bottom: 20px;
}


/* Personal Info List */

.about-list li:not(:last-child) {
  padding-bottom: 20px;
}

.about-list .title {
  opacity: .8;
  text-transform: capitalize;
}

.about-list .value {
  font-weight: 600;
}

/* Box Stats */

.box-stats {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid #252525;
}

.box-stats {
  @apply border-1 border-solid border-iconColor;
}
/* 
.box-stats.with-margin {
  margin-bottom: 30px;
} */

.box-stats h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: #ffb400;
}

.box-stats h3:after {
  content: '+';
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 300;
  top: 2px;
}

.box-stats p {
  padding-left: 45px;
}

.box-stats p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background: #777;
}


/* Resume */

.resume-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 50px;
}

.resume-box li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  border-left: 1px solid #333;
}

.resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #252525;
  background-color: #ffb400;
}

.resume-box .time {
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #252525;
  opacity: .8;
}

.resume-box h5 {
  font-size: 18px;
  margin: 7px 0 10px;
}

.resume-box p {
  margin: 0;
  color: #eee;
  font-size: 14px;
}

.resume-box .place {
  opacity: .8;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  padding-left: 26px;
}

.resume-box .place:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #fff;
  left: 7px;
  top: 9px;
  opacity: .8;
}

/* Skills */
.skills .items {
  @apply grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-5  gap-y-12;
}
.items .item {
  @apply flex flex-col justify-center items-center;
}

.items .item .skillTitle {
  @apply uppercase mt-2 sm:mt-4;
}
.c100 {
  @apply bg-menuBg-dark;
}

.c100 > span {
  @apply text-white;
}

.c100:after {
  @apply bg-bgColor;
}


/* .c100,
.resume-box .time {
  background-color: #eee;
} */

.resume-box .time,
.resume-box p {
  color: #666;
}

.resume-box .place:before {
  background-color: #666;
}

.resume-box li:after {
  border-left: 1px solid #ddd;
}

/* [ End About Component ] */
/*================================================== */